@model iMedicalMVC.ViewModel.Employee.CreateMedicDetailsViewModel

@{
    ViewBag.Title = "AddNewMedicalExaminationDetails";
    Layout = "~/Views/Shared/_ParamedicalLayout .cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-top: 150px">
        <h1 class="well">Szczegóły badania</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Numer badania</label>
                                @Html.DropDownListFor(model => model.MedicalExaminationListId, Model.MedicalExaminationList, new { @class = "form-control input_text" })
                                @Html.ValidationMessageFor(model => model.MedicalExaminationListId, "", new { @class = "text-danger" })
                            </div>
                            <h3 style="padding: 20px 20px;"><strong>Dane szczegółowe</strong></h3>
                            <div class="col-sm-6 form-group">
                                <label>Wynik 1</label>
                                @Html.EditorFor(model => model.Result1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Result1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">

                                <label>Wynik 2</label>
                                @Html.EditorFor(model => model.Result2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Result2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Wynik 3</label>
                                @Html.EditorFor(model => model.Result3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Result3, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Wynik 4</label>
                                @Html.EditorFor(model => model.Result4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Result4, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Zalecenia w związku z wynikiem badania</label>
                                @Html.EditorFor(model => model.Recommendations, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Recommendations, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>

                </form>

            </div>
            <button type="submit" class="btn btn-lg btn-info">Zapisz</button>
        </div>

    </div>


}


