@model iMedicalMVC.ViewModel.Employee.CreateNewPaymantDetailsViewModel

@{
    ViewBag.Title = "AddNewPaimentDetails";
    Layout = "~/Views/Shared/_AdministrationrLayout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="margin-top: 150px">
        <h1 class="well">Dodaj nowe szczegóły rozliczenia</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form>
                    <div class="col-sm-12">

                        <div class="row">
                            <h3 style="padding: 20px 20px;"><strong>Dane szczegółowe</strong></h3>
                            <div class="col-sm-6 form-group">
                                <label>Nr rozliczenia</label>
                                @Html.DropDownListFor(model => model.BillingListId, Model.BillingList, new { @class = "form-control input_text" })
                                @Html.ValidationMessageFor(model => model.BillingListId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Kontrakt</label>
                                @Html.DropDownListFor(model => model.ContractListId, Model.ContractList, new { @class = "form-control input_text" })
                                @Html.ValidationMessageFor(model => model.ContractListId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Data płatności</label>
                                @Html.EditorFor(model => model.Payment_date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Payment_date, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Data złożenia przłatności</label>
                                @Html.EditorFor(model => model.Payment_due_date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Payment_due_date, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Kwota końcowa</label>
                                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Tytuł przelewu</label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Uwagi</label>
                                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                            </div>
                            
                        </div>

                        <button type="submit" class="btn btn-lg btn-info">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





}

