@model iMedicalMVC.ViewModel.Employee.ShowDetailsEmployeeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdministrationrLayout.cshtml";
}


<head>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Home.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="~/Content/img/avatar.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>  @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName) </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Imie i Nazwisko</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">E-mail</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telefon</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Html.DisplayFor(model => model.Phone)
                            </div>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary"><a href="/Administration/ShowProfile" style="color: white; ">Profil</a></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



