@model IEnumerable<iMedicalMVC.ViewModel.Employee.EmployeeViewModel>

@{
    ViewBag.Title = "ShowAllDoctor";
    Layout = "~/Views/Shared/_AdministrationrLayout.cshtml";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/css/table.css" rel="stylesheet" />

<section id="tabs" class="project-tab" style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Imię i Nazwisko</th>
                                    <th style="text-align:center;">Numer pracownika</th>
                                    <th style="text-align:center;">Kraj</th>
                                    <th style="text-align:center;">Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.NumberEmployee)</td>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.CountryRegistration)</td>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td><button class="btn-sm btn-info"><a href="#" style="color: white; ">Zobacz</a></button></td>
                                        <td><button class="btn-sm btn-info"><a href="#" style="color: white; ">Edytuj</a></button></td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
