@model iMedicalMVC.ViewModel.Doctor.CreateNewReferralViewModel

@{
    ViewBag.Title = "AddNewRef";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-top: 150px">
        <h1 class="well">Nowe skierowanie</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form>
                    <div class="col-sm-12">

                        <div class="row">
                            <h3 style="padding: 20px 20px;"><strong>Dane szczegółowe</strong></h3>

                            <div class="col-sm-6 form-group">
                                <label>Pacjent</label>
                                @Html.DropDownListFor(model => model.PatientListId, Model.PatientList, new { @class = "form-control input_text" })
                                @Html.ValidationMessageFor(model => model.PatientListId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Rodzaj skierowania</label>
                                @Html.DropDownListFor(model => model.MedicalExaminationTypeListId, Model.MedicalExaminationTypeList, new { @class = "form-control input_text" })
                                @Html.ValidationMessageFor(model => model.MedicalExaminationTypeListId, "", new { @class = "text-danger" })
                            </div>
                        
                            <div class="col-sm-6 form-group">
                                <label>Komentarz</label>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-info">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
